.purple_ {
  background-color: #7401df;
}
.btn-transparent {
  background-color: transparent;
}
section {
  padding: 0 30px 0 30px;
}
nav {
  padding: 0 30px 0 30px;
}
.titlt_ {
  transform: rotate(25deg);
  position: absolute;
  top: 150px;
}
#features {
  position: relative;
  background-color: white;
}
