.purple-blue {
	background-color: #4f01df;
}

.padding_{
	padding: 0 20px 0 20px;
}

.tilted_ {
	transform: rotate(25deg);
}

.crop_ {
	height: 260px;
	overflow: hidden;
}

.circular_ {
	border-radius: 50%;
}

.purple-icon {
	color: #4f01df;
}