.purple_ {
  background-color: #4f01df;
}
.btn-transparent {
  background-color: transparent;
}
section {
  padding: 0 30px 0 30px;
}
nav {
  padding: 0 30px 0 30px;
}
.tilted_ {
  transform: rotate(25deg);
  position: absolute;
  top: 130px;
}
#features {
  position: relative;
  background-color: white;
}
.circular_ {
  border-radius: 50%;
}
.purple-icon {
  color: #4f01df;
}
footer {
  padding: 0 30px 0 30px;
}
.hover_ {
  color: white;
}
.hover_:hover {
  color: black;
}
